<script setup>
import {appService} from "@/services/app-service";
import {onMounted, ref} from "vue";

const listData = ref([])
const next_page_url = ref(null)

function getData() {
  let url = 'api/participants'
  if(next_page_url.value)
    url = next_page_url.value
  appService.get(url).then(res => {
    listData.value = res.data.data
    next_page_url.value = res.data.next_page_url
  }).catch(err => {

  })
}

function nextPAge(){
  getData()
}

function detail(id){
  appService.get('api/messages/1/'+id).then(res=>{

  })
}

onMounted(() => {
  getData()
})

</script>

<template>
  <main>
    <h1>Home page <i class="fas fa-user"></i> </h1>
    <div class="row">
      <div class="col-3">
        <div v-for="item in listData">
          <button class="user-name btn btn-outline-dark" @click="detail(item.id)">{{ item.user.name }}</button>
        </div>
        <div>
          <button class="btn" @click="nextPAge()">Next</button>
        </div>
      </div>
      <div class="col"></div>

    </div>
  </main>
</template>
