<script setup>
import {reactive, ref} from "vue";

const loginForm = reactive( {
  email: 'sdfsj@sdf.com',
  password: ''
})


const errors = ref(null)
</script>

<template>
<ul>
  <li><a href="">{{abc}}</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
  <li><a href="">Link</a> </li>
</ul>
</template>

<style scoped>

</style>