<script setup>
import { RouterLink, RouterView } from 'vue-router'
import SidebarLeft from "@/components/SidebarLeft.vue";
</script>

<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <SidebarLeft></SidebarLeft>
      </div>
      <div class="col">
        <RouterView />
      </div>
    </div>

  </div>

</template>

<style scoped>

</style>
