<script>
import {defineComponent} from 'vue'
import {httpService} from "@/services/app-service";
import { nanoid } from 'nanoid'
const abvc = {
  b:'5'
}
export default defineComponent({
  name: "LoginV1",
  data: () => ({
    loginForm: {
      email: '',
      password: ''
    },
    errors: null,
    nanoid: nanoid,
  }),
  beforeCreate() {

  },
  created() {
  },
  mounted() {
  },
  methods: {
    loginClick() {
      httpService.login(this.loginForm)
          .then(res => {
            console.log(res.data)
          }).catch(err => {
        const data = err.response.data
        if (data.errors) {
          this.errors = data.errors
        }

      })
    }
  }
})
</script>

<template>
  <h1>Login page {{abvc.b}}</h1>
  <div class="row">
    <div class="col-3">
      <input class="form-control" type="text" v-model="loginForm.email">
      <p v-if="errors && errors.email && errors.email.length">Bạn cần nhập email</p>
      <input class="form-control" type="password" v-model="loginForm.password">
      <button class="btn btn-primary" @click="loginClick">Login</button>
    </div>
  </div>
</template>

<style scoped>

</style>