<script setup>
import {httpService} from "@/services/app-service";
import {onMounted, reactive, ref} from "vue";

const loginForm = reactive({
  email: '',
  password: ''
})
const errors = ref(null)
const inputEmail = ref(null)

function loginClick() {
  httpService.login(loginForm)
      .then(res => {
        console.log(res.data)
      }).catch(err => {
    const data = err.response.data
    if (data.errors) {
      errors.value = data.errors
      console.log(inputEmail.value)
      inputEmail.value.focus()
    }

  })
}

onMounted(()=>{

})
</script>

<template>
  <h1>Login page</h1>
  <div class="row">
    <div class="col-3">
      <input ref="inputEmail" class="form-control" :class="{'is-invalid': errors && errors.email}" type="text" v-model="loginForm.email">
      <p v-if="errors && errors.email && errors.email.length">Bạn cần nhập email</p>
      <input class="form-control" type="password" v-model="loginForm.password">
      <button class="btn btn-primary" @click="loginClick">Login</button>
    </div>
  </div>
</template>

<style scoped>

</style>